atlassian-ide-plugin.xml
.idea/
app/build/logs/
cache.properties
app/tests/_output/
app/logs/
app/cache
.DS_Store
composer.phar
codecept.phar
codeception.yml
tests/api.suite.yml
vendor/

tests/_output/
tests/_envs/
tests/unit/UnitTester.php
tests/functional/FunctionalTester.php
tests/functional.suite.yml
tests/api/ApiTester.php
tests/acceptance/AcceptanceTester.php
tests/dump.rdb
/tests/_support/
tests/unit.suite.yml